In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.DataFrame(np.random.randn(6, 4),
                 columns=['A', 'B', 'C', 'D'],
                 index=['2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
                        '2018-03-14', '2018-03-15'])

In [3]:
print(s.iloc[0:4])

                   A         B         C         D
2018-03-10  1.191139  0.025212  1.515925 -0.591287
2018-03-11 -0.177752  0.098604  0.701496  0.314800
2018-03-12  0.654034 -1.807192  1.163400 -2.919780
2018-03-13 -0.717393 -1.178690 -0.488421  0.111549

In [4]:
print(s)

                   A         B         C         D
2018-03-10  1.191139  0.025212  1.515925 -0.591287
2018-03-11 -0.177752  0.098604  0.701496  0.314800
2018-03-12  0.654034 -1.807192  1.163400 -2.919780
2018-03-13 -0.717393 -1.178690 -0.488421  0.111549
2018-03-14 -0.166205  0.401704 -0.081632  0.825730
2018-03-15 -1.372211 -0.628797  0.153573  1.954539

In [5]:
print(s.loc["2018-03-11"])
print(s.loc["2018-03-13"])

A   -0.177752
B    0.098604
C    0.701496
D    0.314800
Name: 2018-03-11, dtype: float64
A   -0.717393
B   -1.178690
C   -0.488421
D    0.111549
Name: 2018-03-13, dtype: float64

In [6]:
print(s[['B']])

                   B
2018-03-10  0.025212
2018-03-11  0.098604
2018-03-12 -1.807192
2018-03-13 -1.178690
2018-03-14  0.401704
2018-03-15 -0.628797

In [7]:
print(s.iloc[3:6, [0, 2] ])

                   A         C
2018-03-13 -0.717393 -0.488421
2018-03-14 -0.166205 -0.081632
2018-03-15 -1.372211  0.153573

In [8]:
value = [np.nan]*6
s.insert(loc=4, column='F', value=value)

In [9]:
print(s)

                   A         B         C         D   F
2018-03-10  1.191139  0.025212  1.515925 -0.591287 NaN
2018-03-11 -0.177752  0.098604  0.701496  0.314800 NaN
2018-03-12  0.654034 -1.807192  1.163400 -2.919780 NaN
2018-03-13 -0.717393 -1.178690 -0.488421  0.111549 NaN
2018-03-14 -0.166205  0.401704 -0.081632  0.825730 NaN
2018-03-15 -1.372211 -0.628797  0.153573  1.954539 NaN

In [10]:
for i in range(len(s)):
    s.iloc[i, -1] = 1
print(s)

                   A         B         C         D    F
2018-03-10  1.191139  0.025212  1.515925 -0.591287  1.0
2018-03-11 -0.177752  0.098604  0.701496  0.314800  1.0
2018-03-12  0.654034 -1.807192  1.163400 -2.919780  1.0
2018-03-13 -0.717393 -1.178690 -0.488421  0.111549  1.0
2018-03-14 -0.166205  0.401704 -0.081632  0.825730  1.0
2018-03-15 -1.372211 -0.628797  0.153573  1.954539  1.0

In [11]:
company=["A","B","C"]

data=pd.DataFrame({

    "company":[company[x] for x in np.random.randint(0,len(company),10)],

    "salary":np.random.randint(5,50,10),

    "age":np.random.randint(15,50,10)

}

)

In [12]:
print(data)

  company  salary  age
0       B      34   16
1       B      28   23
2       C       5   45
3       C      36   31
4       B      26   43
5       B      17   44
6       A      39   38
7       B      32   49
8       A      31   42
9       B      17   45

In [13]:
print(data.groupby('company').mean())

            salary        age
company
A        35.000000  40.000000
B        25.666667  36.666667
C        20.500000  38.000000

In [14]:
print(data.groupby('company').median())

         salary   age
company
A          35.0  40.0
B          27.0  43.5
C          20.5  38.0

In [15]:
def demean(x):
    return x - x.mean()

In [16]:
#data.groupby('company')['salary'].transfrom('demean')

In [17]:
salaryMean = data.groupby('company', as_index=True).mean()['salary']
print(salaryMean)

for i in range(len(data)):
    print(i, data.iloc[i, 1] - salaryMean['A'])

company
A    35.000000
B    25.666667
C    20.500000
Name: salary, dtype: float64
0 -1.0
1 -7.0
2 -30.0
3 1.0
4 -9.0
5 -18.0
6 4.0
7 -3.0
8 -4.0
9 -18.0